@import "tailwindcss";

@theme {
  --color-midnight-600: #606060;
  --color-midnight-700: #4c4c4c;
  --color-midnight-800: #383838;
  --color-midnight-900: #242424;
  --color-midnight-950: #1a1a1a;

  --animate-appear: appear 1s ease-in-out;
  @keyframes appear: {
    0% {
      opacity: "0",
    },
    100% {
      opacity: "1",
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: dark;
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: auto;
  max-width: 800px;
}
