@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --breakpoint-xs: 30rem;
  --animate-appear: appear 0.5s ease-in-out;
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-spin-fast: spin 1s cubic-bezier(0.75, 0.4, 0.25, 0.6) infinite;
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

:root {
  font-family: 'Noto Sans' sans-serif;
  
  color-scheme: dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-neutral-900
}

h1 {
  @apply text-xl md:text-2xl font-medium;
}

@layer components {
  .button {
    @apply px-4 py-3 flex items-center gap-2 rounded-lg enabled:cursor-pointer;
  }

  .body-text {
    @apply text-sm md:text-base;
  }
}
