@import 'tailwindcss';

@theme {
  --animate-appear: appear 0.5s ease-in-out;
  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-spin-fast: spin 1s cubic-bezier(0.75, 0.4, 0.25, 0.6) infinite;
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}

:root {
  font-family: system-ui, sans-serif;

  color-scheme: dark;
  background-color: #1a1a1a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply m-auto min-w-75 max-w-200;
}

#root {
  @apply p-8;
}

h1 {
  @apply text-xl md:text-2xl font-medium;
}

.button {
  @apply px-4 py-3 flex items-center gap-2 rounded-lg enabled:cursor-pointer;
}

.body-text {
  @apply text-sm md:text-base;
}
